<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% endblock %} - Bee Stock</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {% block main_header_css %}

        {% stylesheets
        '@UserServiceBundle/Resources/web/css/style.css'
        '@UserServiceBundle/Resources/web/css/font_stylesheet.css'

        filter='cssrewrite'
        %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}


    {% block header_javascripts %}
        {% javascripts
        '@UserServiceBundle/Resources/web/js/jquery-3.1.1.min.js'

        filter='?uglifyjs2'
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
    {% endblock %}


        <!-- Latest compiled and minified CSS -->

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Custom styles for this page -->
        <link rel='stylesheet prefetch' href='http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.0/css/bootstrapValidator.min.css'>

        <!-- for rtl
        <link rel="stylesheet" href="{{ asset("@UserServiceBundle/Resources/web/css/bootstrap-rtl.min.css?v=1.0.0") }}" >
        <link rel="stylesheet" href="{{ asset("@UserServiceBundle/Resources/web/css/style-rtl.css?v=1.0.0")  }}"> -->

        <!-- jquery -->



    {% endblock %}
</head>

<body>


<header id="header">
    <div class="container">
        <div class="header">
            <div class="row">
                <div class="col-sm-3  hidden-xs">
                    <a href="#">
                        {% image '@UserServiceBundle/Resources/web/images/logo.png' %}
                            <img src="{{ asset_url }}" class="logo brand hidden-xs" alt="BeeStock" />
                        {% endimage %}
                    </a>
                    <!--h4 class="header-text hidden-sm hidden-xs">72,481,124  ROYALTY FREE STOCK PHOTOS / 837,953 FILES ADDED THIS WEEK</h4-->
                </div>
                <div class="col-sm-4  hidden-xs">

                    <nav id="header_menu"  class="header_menu navbar navbar-light">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed  hidden-xs" data-toggle="collapse" data-target="#header-menu" aria-expanded="false">
                                    <span class="sr-only">Toggle Header Menu</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand visible-xs" href="#">
                                    {% image '@UserServiceBundle/Resources/web/images/logo.png' %}
                                    <img src="{{ asset_url }}" alt="BeeStock"  class="logo brand img-responsive"  />
                                    {% endimage %}
                                </a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="header-menu">
                                <ul class="nav navbar-nav">
                                    <li><a href="#"> Photos  </a></li>
                                    <li><a href="#"> Illustrations </a></li>
                                    <li><a href="#"> Video </a></li>
                                    <li><a href="#"> Audio </a></li>

                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>
                </div>
                <div class="col-sm-5 col-xs-12 main-menu-wrapper" >

                    <nav id="main_menu"  class="header_menu navbar navbar-light">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menu2" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand visible-xs" href="#">
                                    {% image '@UserServiceBundle/Resources/web/images/logo.png' %}
                                    <img src="{{ asset_url }}" alt="BeeStock"  class="logo brand img-responsive"  />
                                    {% endimage %}
                                </a>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="header-menu2">
                                <ul class="nav navbar-nav">
                                    <li class=" dropdown">
                                        <a class=" dropdown-toggle" href="#" id="account_wrap" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-user "></i> User Name <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="account_wrap">
                                            <li><a class="dropdown-item" href="#">My Profile</a></li>
                                            <li><a class="dropdown-item" href="#">Inbox</a></li>
                                            <li><a class="dropdown-item" href="#">Settings</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#"><i class="fa fa-shopping-cart"></i> My Cart </a></li>

                                    <li class=" dropdown">
                                        <a class=" dropdown-toggle" href="#" id="language_wrap" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-globe "></i> Language <span class="caret"></span>
                                        </a>
                                        <ul class="dropdown-menu" aria-labelledby="language_wrap">
                                            <li><a class="dropdown-item" href="#">English</a></li>
                                            <li><a class="dropdown-item" href="#">Arabic</a></li>
                                        </ul>
                                    </li>
                                </ul>
                                <!--form class="navbar-form navbar-right search-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </form-->
                            </div><!-- /.navbar-collapse -->
                        </div><!-- /.container-fluid -->
                    </nav>

                </div>
            </div>

        </div>
    </div>
</header>


<section id="content">


    <div class="container">




        {% block content %}{% endblock %}




    </div> <!-- /container -->
</section>



<footer class="footer">
    {% block footer %}
        <div class="text-center container">
            <p> Copyrights reserved &copy; BeeStock 2017</p>
        </div>
    {% endblock %}
</footer>

<!-- Bootstrap core JavaScript
================================================== -->

<!-- Latest compiled and minified JavaScript -->

{% block main_javascript %}
    {% javascripts
    '@UserServiceBundle/Resources/web/js/bootstrap.min.js'
    '@UserServiceBundle/Resources/web/js/script.js'

    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block footer_javascript %}
    {% javascripts
    '@UserServiceBundle/Resources/web/js/bootstrap.min.js'
    '@UserServiceBundle/Resources/web/js/script.js'

    filter='?uglifyjs2'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>